@media only screen and (max-width: 460px){
    h1 {
        margin: 0 0 0 10px !important;
        font-size: 30px !important;
    }
    .navbar {
        & svg {
            width: 20px !important;
        }
        & button {
            margin: 0 !important;
            padding: 8px !important;
            margin: 0 6px !important;
            height: fit-content !important;
            transform: scale(1.7) !important;
            & svg {
                width: 18px !important;
            }
        }
        & div:last-child {
            margin-right: 10px !important;
            display: flex !important;
            flex-flow: row !important;
            align-items: center !important;
        }
    }
    .page {
        &-home {
            height: calc(100vh - 34vh) !important;
            padding: 0 !important;
        }
    }
    .banner {
        font-size: 30px !important;
        border-radius: 0 !important;
        & button {
            transform: scale(1.7) !important;
            padding: 4px !important;
        }
        &::first-child{
            margin-left: 24px !important;
        }
        &::last-child {
            margin-right: 24px !important;            
        }
    }
    .footer {
        height: 16vh !important;
        & span {
            font-size: 20px !important;
            padding: 2px 10px !important;
        }
        & i {
            transform: scale(0.6) !important;
        }
    }
} 

// @media only screen and (min-width: 201px) and (max-width: 320px){
//     h1 {
//         margin: 0 10px !important;
//         font-size: 24px !important;
//     }
//     .navbar {
//         & svg {
//             width: 18px !important;
//         }
//         & button {
//             margin: 0 !important;
//             padding: 8px !important;
//             margin: 0 6px !important;
//             height: fit-content !important;
//         }
//         & div:last-child {
//             margin-right: 10px !important;
//             display: flex !important;
//             flex-flow: row !important;
//             align-items: center !important;
//         }
//     }
//     .page {
//         &-home {
//             height: calc(100vh - 34vh) !important;
//         }
//     }
//     .banner {
//         font-size: 24px !important;
//         & button {
//             transform: scale(1.6) !important;
//             padding: 4px !important;
//             margin: 0 8px !important; 
//         }
//     }
//     .footer {
//         height: 16vh !important;
//     }
// } 