@import './theme.scss';
@import './responsive.scss';
@import './basepage.scss';
@import './home.scss';

html, body, div#root {
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
}

::selection {
    background-color: $accent-light;
    color: $main;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    &-home {
        height: calc(100vh - 26vh);
        padding: 30px;
    }
}

