@import './theme.scss';
@import '../BasePage/basepage.scss';

html, body, div#root {
    height: 100%;
    width: 100%;
    margin: 0;
}

::selection {
    background-color: $accent-light;
    color: $main;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    &-home {
        height: 100%;
        padding: 30px;
    }
}

.banner {
    width: 100%;
    height: 40%;
    background: url('../assets/Images/banner.jpeg') no-repeat center center;
    background-size: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 34px;
    font-weight: 600;
    color: $accent;
    & button {
        transform: scale(2);
        color: $accent;
    }
}